.Foo {
    &__X {
        &_y {
            &-z {
                color: blue;
            }
        }
    }
    &__A,
    &__B {
        &_ab {
            &-abm {
                color: red;
            }
        }
    }
    &_bar {
        &-red {
            color: red;
        }
        &-blue {
            color: blue;
        }
        &-white,
        &-black {
            color: white;
        }
    }
    &_yellow,
    &_green {
        color: yellow;
    }
}
