.a {
    color: red;
}

.b[a='hyy'] {
    color: red;
}

.c,
.d {
    color: red;
}

div {
    color: red;
}

@media all {
    .foo {
        color: red;
    }
    bar {
        color: red;
    }
}

@keyframes abc {
    from {
        color: red;
    }
}
